<h1>Listing gittos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>
  <%= @crime['block'] %>
  <% @response.each do |response| %>
    <%= response['block'] %>
  <% end %>
<br />

<%= link_to 'New Gitto', new_gitto_path %>
