<div class="introContainer">
  <div id="introLogo">
    <%= image_tag "gitto-large.png", width:"240", align: "middle" %>
    <br/>
    <%= image_tag "text-logo.png", width: "240" %>

    <br/>
    <br/>
    <p class="status">Fetching location</p>

  </div><!--end header-->
