// Place all the styles related to the meter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart3 {
  height:300px;
  width:300px;
  margin: 0 auto;
}
