<div class="gitto-text">
  Gitto number for your current location is:
</div>

<div class="circle-placeholder">
  <div class="number-display">
    <%= @magic_number %>%
  </div>
  <div id="chart3" data-number="<%= @magic_number %>" ></div>
<div>
